.headline {
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

.mat-form-field {
  display: block;
  width: 300px;
}

.submit-button {
  width: 300px;
  padding: 5px 15px;
}